
<div style="display: block;width: 100% !important;">
    선호하는 사진
</div>
<br>
<div style="display: block;width: 100%;">
    선호하는 사진
</div>


<!--gallery viewer-->
<div
class="swipegallery mx-0 row"
itemscope
itemtype="http://schema.org/ImageGallery"
>
<figure itemprop="associatedMedia" itemscope class="col-6 mb-0">
  <a
    href="/assets/img/product1.jpg"
    itemprop="contentUrl"
    data-size="640x426"
    class="gallery-img d-block"
  >
    <img
      src="/assets/img/product1.jpg"
      itemprop="thumbnail"
      alt="Image description"
      class="w-100"
    />
  </a>
</figure>

<figure itemprop="associatedMedia" itemscope class="col-6 mb-0">
  <a
    href="/assets/img/product2.jpg"
    itemprop="contentUrl"
    data-size="640x426"
    class="gallery-img d-block"
  >
    <img
      src="/assets/img/product2.jpg"
      itemprop="thumbnail"
      alt="Image description"
      class="w-100"
    />
  </a>
</figure>

<figure itemprop="associatedMedia" itemscope class="col-6 mb-0">
  <a
    href="/assets/img/product3.jpg"
    itemprop="contentUrl"
    data-size="640x426"
    class="gallery-img d-block"
  >
    <img
      src="/assets/img/product3.jpg"
      itemprop="thumbnail"
      alt="Image description"
      class="w-100"
    />
  </a>
</figure>
<figure itemprop="associatedMedia" itemscope class="col-6 mb-0">
  <a
    href="/assets/img/product2.jpg"
    itemprop="contentUrl"
    data-size="640x426"
    class="gallery-img d-block"
  >
    <img
      src="/assets/img/product2.jpg"
      itemprop="thumbnail"
      alt="Image description"
      class="w-100"
    />
  </a>
</figure>

<figure itemprop="associatedMedia" itemscope class="col-12 mb-0">
  <a
    href="/assets/img/product3.jpg"
    itemprop="contentUrl"
    data-size="640x426"
    class="gallery-img d-block"
  >
    <img
      src="/assets/img/product3.jpg"
      itemprop="thumbnail"
      alt="Image description"
      class="w-100"
    />
  </a>
</figure>

<figure itemprop="associatedMedia" itemscope class="col-12 mb-0">
  <a
    href="/assets/img/product1.jpg"
    itemprop="contentUrl"
    data-size="640x426"
    class="gallery-img d-block"
  >
    <img
      src="/assets/img/product1.jpg"
      itemprop="thumbnail"
      alt="Image description"
      class="w-100"
    />
  </a>
</figure>
<figure itemprop="associatedMedia" itemscope class="col-12 mb-0">
    <a
      href="/assets/img/product1.jpg"
      itemprop="contentUrl"
      data-size="640x426"
      class="gallery-img d-block"
    >
      <img
        src="/assets/img/product1.jpg"
        itemprop="thumbnail"
        alt="Image description"
        class="w-100"
      />
    </a>
  </figure>
  <figure itemprop="associatedMedia" itemscope class="col-12 mb-0">
    <a
      href="/assets/img/product1.jpg"
      itemprop="contentUrl"
      data-size="640x426"
      class="gallery-img d-block"
    >
      <img
        src="/assets/img/product1.jpg"
        itemprop="thumbnail"
        alt="Image description"
        class="w-100"
      />
    </a>
  </figure>
</div>






    



