<div class="row mt-3 mb-3">
  <h4
    class="col-12 mb-0 text-block mb-2"
    style="font-size: 1.2rem; font-weight: 800;"
  >
    이제 다 왔어요!
  </h4>
</div>

<div class="mb-4">
  <div class="mb-2 text-dark" style="font-weight: 540;">키</div>
  <input class="form-control text-muted" placeholder="0 cm" />
</div>
<div class="mb-4">
  <div class="mb-2 text-dark" style="font-weight: 540;">체형</div>
  <select class="form-control text-muted">
    <option default>선택</option>
    <option>상체보다 하체가 발달한 유형</option>
    <option>하체보다 상체가 발달한 유형</option>
    <option>골반과 엉덩이가 큰 유형</option>
    <option>기타 등등</option>
  </select>
</div>
<div class="mb-4">
  <div class="mb-2 text-dark" style="font-weight: 540;">피부톤</div>
  <select class="form-control text-muted">
    <option default>선택</option>
    <option>살구빛의 따듯한 느낌이 드는 편</option>
    <option>하얗고 투명한 편</option>
    <option>어두운 편</option>
  </select>
</div>
<div class="mb-4">
  <div class="mb-2 text-dark" style="font-weight: 540;">헤어 기장</div>
  <select class="form-control text-muted">
    <option default>선택</option>
    <option>롱</option>
    <option>미디엄</option>
    <option>단발</option>
    <option>숏</option>
  </select>
</div>
<div style="color: teal; font-size: 0.1rem;" class="mb-3">
  *체형별 스타일링 서비스를 위해 필요한 정보이며 다른사람에게 공개되지 않습니다.
</div>

<div class="row ml-1" style="width: 100%;">
  <div class="text-dark">
    어떤 <b style="font-weight: 800;">품목</b>을 진행하실 예정이신가요?
  </div>
  <div style="font-size: 0.1rem; float: right;" class="mb-3 ml-3">
    <b style="color: teal !important;">*</b> 최소 2개이상
  </div>
</div>

<div
  style="
    text-align: center;
    border: 1px solid #ced4da;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
  "
  class="mr-2"
>
  스튜디오
</div>
<div
  style="
    text-align: center;
    border: 1px solid #ced4da;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
  "
  class="mr-2"
>
  드레스
</div>
<div
  style="
    text-align: center;
    border: 1px solid #ced4da;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
  "
  class="mr-2"
>
  메이크업
</div>
<div
  style="
    text-align: center;
    border: 1px solid #ced4da;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
  "
  class="mr-2 mt-3"
>
  본식스냅
</div>

<div
  class="btn btn-block btn-primary mt-5"
  style="height: 60px; line-height: 50px;"
>
  견적 요청하기
</div>
