<div class="row mt-3 mb-3">
  <h4
    class="col-12 mb-0 text-block mb-2 text-muted"
    style="font-size: 1.2rem; font-weight: 800"
  >
    선호하는 <b class="text-primary">메이크업</b><br />스타일을 선택해주세요.
  </h4>
  <b class="ml-3" style="color: teal; font-size: 0.1rem">*</b>
  <div class="ml-1">중복선택 가능</div>
</div>

<!--gallery viewer-->
<div
  class="swipegallery mx-0 row"
  itemscope
  itemtype="http://schema.org/ImageGallery"
>
  <figure itemprop="associatedMedia" itemscope class="col-6 mb-0">
    <a
      href="/assets/img/product1.jpg"
      itemprop="contentUrl"
      data-size="640x426"
      class="gallery-img d-block"
    >
      <img
        src="/assets/img/product1.jpg"
        itemprop="thumbnail"
        alt="Image description"
        class="w-100"
      />
    </a>
  </figure>

  <figure itemprop="associatedMedia" itemscope class="col-6 mb-0">
    <a
      href="/assets/img/product2.jpg"
      itemprop="contentUrl"
      data-size="640x426"
      class="gallery-img d-block"
    >
      <img
        src="/assets/img/product2.jpg"
        itemprop="thumbnail"
        alt="Image description"
        class="w-100"
      />
    </a>
  </figure>

  <figure itemprop="associatedMedia" itemscope class="col-6 mb-0">
    <a
      href="/assets/img/product3.jpg"
      itemprop="contentUrl"
      data-size="640x426"
      class="gallery-img d-block"
    >
      <img
        src="/assets/img/product3.jpg"
        itemprop="thumbnail"
        alt="Image description"
        class="w-100"
      />
    </a>
  </figure>
  <figure itemprop="associatedMedia" itemscope class="col-6 mb-0">
    <a
      href="/assets/img/product2.jpg"
      itemprop="contentUrl"
      data-size="640x426"
      class="gallery-img d-block"
    >
      <img
        src="/assets/img/product2.jpg"
        itemprop="thumbnail"
        alt="Image description"
        class="w-100"
      />
    </a>
  </figure>

  <figure itemprop="associatedMedia" itemscope class="col-12 mb-0">
    <a
      href="/assets/img/product3.jpg"
      itemprop="contentUrl"
      data-size="640x426"
      class="gallery-img d-block"
    >
      <img
        src="/assets/img/product3.jpg"
        itemprop="thumbnail"
        alt="Image description"
        class="w-100"
      />
    </a>
  </figure>

  <figure itemprop="associatedMedia" itemscope class="col-12 mb-0">
    <a
      href="/assets/img/product1.jpg"
      itemprop="contentUrl"
      data-size="640x426"
      class="gallery-img d-block"
    >
      <img
        src="/assets/img/product1.jpg"
        itemprop="thumbnail"
        alt="Image description"
        class="w-100"
      />
    </a>
  </figure>
</div>
<div class="btn btn-primary btn-block next">다음</div>
