<head>
  <script src="/assets/js/jquery-3.2.1.min.js"></script>
  <script>
    function setCheckbox(cbs) {
      var str = cbs.split(",");
      for (var i = 0; i < str.length; i++) {
        $("input:checkbox[value=" + str[i] + "]").prop("checked", true);
      }
    }
  </script>
</head>
<button onclick="location.href='req_list'">목록</button>
<h3>예식정보</h3>
<ul>
  <li>
    <p>예식일</p>
    <input type="text" id="date" value="<%=row.info2.date%>" disabled /><br />
  </li>
  <li>
    <p>예식시간</p>
    <input type="text" id="time" value="<%=row.info2.time%>" disabled /><br />
  </li>
  <li>
    <p>예식장소</p>
    <input type="text" id="place" value="<%=row.info2.place%>" disabled /><br />
  </li>

  <li>
    <p>스드매옵션</p>
    <input type="checkbox" name="type" value="studio" disabled />스튜디오
    <input type="checkbox" name="type" value="dress" disabled />드레스
    <input type="checkbox" name="type" value="makeup" disabled />메이크업
    <input type="checkbox" name="type" value="snap" disabled />본식스냅
    <script>
      setCheckbox("<%=row.info2.type%>");
    </script>
  </li>
</ul>
<button onclick="location.href='sug_create?rid=<%=row.id%>'">
  견적제안(only planner)
</button>

<h3>견적서목록 <%=sug_list.length%>건</h3>
<% if(sug_list.length == 0) { %>
<p>아직 받으신 견적이 없습니다.</p>
<% } %> <% for(var i=0 ; i < sug_list.length ; i++) { %>
<ul>
  <% if(sug_list[i].accept != null){ %>
  <li>***상담신청됨***</li>
  <% } %>
  <li>이정헌 플래너님</li>
  <li>예식 0건</li>
  <li>리뷰 0건</li>
  <li>별점 0점</li>
  <li>총견적</li>
  <li><%=sug_list[i].info2.total%>원</li>
</ul>
<button onclick="location.href='sug_detail?id=<%=sug_list[i].id%>'">
  견적서보기
</button>
<button onclick="location.href='req_detail?id=<%=sug_list[i].request_id%>'">
  예식정보
</button>
<% } %>
