<h3>견적detail</h3>
<ul>
  <li>
    <p>스튜디오</p>
    <input
      type="number"
      id="studio"
      value="<%=row.info2.studio%>"
      disabled
    /><br />
  </li>
  <li>
    <p>드레스</p>
    <input
      type="number"
      id="dress"
      value="<%=row.info2.dress%>"
      disabled
    /><br />
  </li>
  <li>
    <p>메이크업</p>
    <input
      type="number"
      id="makeup"
      value="<%=row.info2.makeup%>"
      disabled
    /><br />
  </li>
  <li>
    <p>옵션</p>
    <input type="text" id="opt" value="<%=row.info2.opt%>" disabled /><br />
  </li>
  <li>
    <p>총합</p>
    <input
      type="number"
      id="total"
      value="<%=row.info2.total%>"
      disabled
    /><br />
  </li>
</ul>
<button onclick="accept(<%=row.id%>)" id="accept_btn">상담신청</button>
<button onclick="accept_cancel(<%=row.id%>)" id="accept_cancel_btn">
  상담취소
</button>
<button onclick="chat()" id="chat">채팅하기</button>

<script src="/assets/js/jquery-3.2.1.min.js"></script>
<script>
  function btn_display(type) {
    //type 0 : default
    if (type == 0) {
      $("#accept_btn").css("display", "inline-block");
      $("#accept_cancel_btn").css("display", "none");
      $("#chat").css("display", "none");
    } else if (type == 1) {
      //type 1 : accept
      $("#accept_btn").css("display", "none");
      $("#accept_cancel_btn").css("display", "inline-block");
      $("#chat").css("display", "inline-block");
    }
  }
  function init() {
    <% if(row.accept == null){ %>
    btn_display(0);
    <% } else { %>
      btn_display(1);
    <% } %>
  }
  window.onload = init();
  function accept(id) {
    $.get("/test/sug_accept?id=" + id, (d, s) => {
      alert(d);
      if (d === "success") {
        btn_display(1);
      }
    });
  }

  function accept_cancel(id) {
    $.get("/test/sug_accept_cancel?id=" + id, (d, s) => {
      alert(d);
      if (d === "success") {
        btn_display(0);
      }
    });
  }
</script>
