<h3>견적detail</h3>
<ul>
  <li>
    <p>스튜디오</p>
    <input
      type="number"
      id="studio"
      value="<%=row.info2.studio%>"
      disabled
    /><br />
  </li>
  <li>
    <p>드레스</p>
    <input
      type="number"
      id="dress"
      value="<%=row.info2.dress%>"
      disabled
    /><br />
  </li>
  <li>
    <p>메이크업</p>
    <input
      type="number"
      id="makeup"
      value="<%=row.info2.makeup%>"
      disabled
    /><br />
  </li>
  <li>
    <p>옵션</p>
    <input type="text" id="opt" value="<%=row.info2.opt%>" disabled /><br />
  </li>
  <li>
    <p>총합</p>
    <input
      type="number"
      id="total"
      value="<%=row.info2.total%>"
      disabled
    /><br />
  </li>
</ul>
<button>상담신청</button>
